{
  "outdir": "/scratch",
  "servers": [
    {
      "url": "ws://{{.host}}/"
    }
  ],
  "cases": {{.cases}},
  "exclude-cases": [
    "6.*",
    "12.*",
    "13.*"
  ],
  "exclude-agent-cases": {}
}
