{
  "outdir": "/scratch",
  "servers": [
    {
      "url": "ws://{{.host}}/"
    }
  ],
  "cases": ["{{.cases}}"],
  "exclude-cases": [
    "9.*",
    "12.*",
    "13.*"
  ],
  "exclude-agent-cases": {}
}
